<html>
  <head>
      <title> Jakes Local Webpage! </title>
  </head>

  <body>
    <% if @random_name %>
  <h1> My name is <%= @random_name %>
  <% end %>
    <div>
      <style>
        img { border: dashed red;}
      </style>
    </div>

<form action="/named-cat">
  <input type="text" name=name>
  <input type="submit" value="submit">
</form>


  <img src='http://bit.ly/1eze8aE'>


</body>
</html>
